.home {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10%;
    background-color: #fff;
}

.home main {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home main .boxes, .home main .side {
    border-radius: 20px;
    color: black;
}

.home main .boxes {
    border: 1px solid rgba(0,0,0,.1);
    background-color: transparent;
    color: black;
    border-radius: 20px;
    margin: 0 auto;
    height: fit-content;
    width: 800px;
}

.home main .side {
    width: 325px;
    margin: 0 auto;
    height: fit-content;
}

.home main .boxes img{
    width: 100%;
    border-radius: 10px;
    display: block;
    align-items: center;
}

.home main .boxes>section {
    display: flex;
    margin: 10px;
}

.home main .boxes>section .box-image {
    width: 400px;
    align-items: center;
    margin: 0px 25px 5px 5px;
    justify-content: center;
    height: 100%;
}

.home main .boxes>section .info {
    display: flex;
    justify-content: space-between;
}

.home main .boxes>section .info>div {
    display: flex;
}

.home main .boxes>section .info>div p {
    font-size: 13px;
    margin-right: 5px;
    font-weight: lighter;
    color: #808080;
}

.home main .boxes>section .info>div img {
    width: 18px;
    margin-right: 18px;
}

.home main .boxes section .news-preview h2 {
    font-weight: bolder;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.home main .boxes section .news-preview p {
    font-size: 14px;
    font-weight: 400;
}

.home main .boxes section .news-preview button {
    background-color: rgb(20 65 201);
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    color: white;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    transition: 300ms;
    font-weight: bolder;
}

.home main .boxes section .news-preview button:hover {
    cursor: pointer;
    background-color: rgb(1, 36, 139);
}

/* Sides Styling */
.side .recent-box {
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.1);
}

.side nav {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px;
}

/* .side nav a.active {
    color: rgb(20 65 201);
} */

.black {
    color: rgb(20 65 201);
}

.side nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}

h2 {
    list-style-type: disc;
}

.side nav ul li {
    padding: 2px 10px;
    color: #000;
}

.side .recent {
    display: flex;
    padding: 10px;
}

.side .recent h2 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    width: 150px;
}

.recent-image {
    width: 100%;
    margin-right: 20px;
}

.recent-image img {
    width: 100%;
    border-radius: 15px;
    align-items: center;
}

.recent p {
    font-size: 10px;
    display: flex;
    color: grey;
}

.recent .news-preview div{
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

.recent .news-preview div img{
    width: 15px;
}

/* modified section style */
.modified-box{
    margin-top: 50px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 20px;
}

.modified-box nav, #dummy {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

.modified-box div {
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modified-box div section {
    text-align: center;
    width: 150px;
    margin: 10px auto;
}

.modified-box div img {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}

.modified-box div section h1 {
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

/* most-box styling */
.most-box {
    margin-top: 50px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 20px;
}

.most-box nav {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

.most-box div section {
    margin: 10px 10px;
    transition: 500ms;
}

.most-box div section p {
    font-size: 8px;
    color: gray;
}

.most-box div section h1 {
    font-size: 15px;
    font-weight: bolder;
}

.most-box div section:hover {
    color: rgb(1, 36, 139);
    text-decoration: underline;
}

@media (max-width: 700px) {
    .home {
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    .home main .boxes>section {
        display: block;
    }
    .home main .boxes {
        width: 100%;
    }
    .home main .side {
        width: fit-content;
        margin-top: 30px;
    }
    .side .recent h2 {
        width: 300px;
    }
    .side .recent-image {
        width: 30%;
    }
    .modified-box div {
        align-items: flex-start;
        justify-content: space-between;
    }
    .modified-box div section {
        margin: 3px 10px;
        width: 180px;
    }
    .most-box nav {
        padding: 20px;
    }
    .most-box div section {
        margin: 20px;
    }
}
